// ----------------------------------------------------------
// --- IMPORTS ----------------------------------------------
// ----------------------------------------------------------

@import "_sass/_reset";
@import "_sass/_variables";

// Syntax highlighting @import is at the bottom of this file

/*--------------------------------------------------------*/
/* --- BASE RULES ----------------------------------------*/
/*--------------------------------------------------------*/

html {
  font-size: 100%;
}

body {
  background: $white;
  font-family: $roboto;
  font-weight: 300;
  font-size: 16px;
  color: $darkGray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $merriweather;
  font-weight: 700;
  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 36px;
  margin-top: 1em;
  margin-bottom: 1em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

h5,
h6 {
  color: $gray;
}

p {
  line-height: 1.35em;
  margin: 15px 0;
}

a {
  color: $darkBlue;
  text-decoration: none;
  padding-left: 1px;
  padding-right: 1px;
  transition: background-color .25s ease-out,
              color .15s ease-out;
	cursor: pointer;

  &:hover, &:active {
    background-color: $darkBlue;
    color: white;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul li {
  margin: 8px 5px;
  line-height: 1.5em;

  ul {

    li {
      margin: 3px 0;
    }
  }

  & > h4 {
    margin-bottom: 0;
  }
  & > h4 + p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ol li {
  line-height: 1.5em;
  margin: 8px 5px;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ul ul, ol ul {
  list-style-type: disc;
}
ul ul ul, ol ul ul, ol ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong {
  font-family: $merriweather;
  font-weight: 700;
  color: $gray;
}

b {
  font-weight: 400;
  color: $gray;
}

img {
  max-width: 100%;
}

sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;

  /* styles for emoji in sup */
  & img {
    height: 12px;
    width: 12px;
    margin-bottom: -2px;
  }
}

/* separator */
hr {
  height: 1px;
  margin-top: 45px;
  margin-bottom: 45px;
  background-color: $gray;
  border: 0;
  opacity: .25;
}
hr.small {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 0;
  position: relative;

  &:after {
    content: '';
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: gray;
  }
}


/* headings for posts */
h2.post__small-heading {
  font-size: 24px;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

h5.post__underlined-heading {
  font-weight: 500;
  text-decoration: underline;
}

h1 + .post__underlined-heading,
h2 + .post__underlined-heading,
h3 + .post__underlined-heading,
h4 + .post__underlined-heading {
  margin-top: 30px;
}

/* headings + separator */
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
  margin-top: 0;
}

h2.post__small-heading + hr {
  padding-top: 0;
}

/* separator + heading */
hr + h1,
hr + h2,
hr + h3,
hr + h4,
hr + h5,
hr + h6 {
  padding-top: 0;
  margin-top: 0;
}

hr + h2.post__small-heading {
  padding-top: 0;
  margin-top: 0;
}

/* post blocks / with spaces */
.post__block {
  &--left-space {
    padding-left: 20px;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::selection {
  color: $darkBlue;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 60px;

  @include mobile {
    margin-bottom: 30px;
  }
}

.masthead {
  @include mobile {
    text-align: center;
  }
}

.header__inner {
  min-height: 150px;
  padding: 35px 0;
  position: relative;

  @include mobile {
    min-height: 185px;
    padding: 25px 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(to bottom, black 0%, black 51%, transparent 51%);
    background-size: 100% 1px;
    opacity: .3;
  }
}

/*** avatar styles ***/
.site-avatar {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: -2px;
  position: relative;
  overflow: hidden;

  &__img {
    display: block;
    width: 90px;
    height: auto;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: -5px;
    max-width: none;
  }

  /*** mobile stuff ***/
  @include mobile {
    float: none;
    margin-left: 15px;
  }

}/* end avatar */

/*** my info styles ***/
.site-info {
  float: left;

  @include mobile {
    float: none;
    position: absolute;
    left: 130px;
    top: 25px;
    text-align: left;
  }

  &__link {
    display: block;
  }
}

.site-name {
  color: $darkGray;
  font-family: $roboto;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 17px;
  cursor: pointer;

  a:hover, a:active {
    background-color: transparent;
    color: $darkBlue;
  }
}

.site-description {
  margin: -1px 0 0 0;
  color: $gray;
  font-size: 14px;
  line-height: 21px;

  @include mobile {
    margin: 3px 0;
  }
}

/*** primary navigation ***/
nav {
  position: absolute;
  right: 0;
  top: 35px;
  bottom: 35px;
  line-height: 80px;

  @include mobile {
    line-height: 30px;
    top: auto;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: left;
  }

  a {
    margin-left: 45px;
    color: $darkGray;
    text-align: right;
    font-size: 20px;
    font-family: $merriweather;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.5em;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main 
//

.posts {
  & .post {
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $gray;
      opacity: .25;
    }
  }
}

// .posts > .post:last-child:after {
//   display: none;
// }

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  &__heading {
    font-family: $merriweather;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: .5em;
  }
  &__small-heading {
    font-family: $merriweather;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 28px;
    margin-top: .8em;
    margin-bottom: .4em;
  }
  &__small-subheading {
    font-family: $merriweather;
    font-weight: 400;
    letter-spacing: 0.015em;
    font-size: 20px;
    margin-top: .4em;
    margin-bottom: .2em;
  }

  .comments {
    margin-top: 10px;
  }

  &__body p {
    display: inline;
  }

  .read-more {
    display: inline;
    text-transform: lowercase;
    font-size: 12px;
    letter-spacing: .08em;
    font-weight: 600;
  }
}

/*** footer stuff ***/

.wrapper-footer {
  margin-top: 50px;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.footer {
  &__social-link {
    display: inline-block;
    margin: 5px 5px 0;
    opacity: 1;
    transition: opacity .2s ease-out;


    &:hover, &:active {
      background-color: transparent;
      opacity: .75;
    }
  }
}


/*** custom 'list' stuff ***/
.list {
  &__desc {
    font-size: .8em;
  }
}

/*** styles for 'about' page ***/
.about-page-holder {

  &__workplaces ~ h4 {
    display: inline-block;
    color: $darkBlue;
    border-top: 1px solid $darkBlue;
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 30px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_sass/_highlights";
@import "_sass/_svg-icons";
